/*------------------------------------*\
    Translations/Transitions
\*------------------------------------*/
@mixin translate($x, $y) {
  -moz-transform: translateX($x) translateY($y);
  -webkit-transform: translateX($x) translateY($y);
  -o-transform: translateX($x) translateY($y);
  -ms-transform: translateX($x) translateY($y);
  transform: translateX($x) translateY($y);
}
@mixin transition($duration) {
  -webkit-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
  -moz-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
  -o-transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
  transition: all $duration cubic-bezier(0.455, 0.030, 0.000, 1.000);
}
@mixin transition-delay($delay) {
  moz-transition-delay:$delay;
  -webkit-transition-delay:$delay;
  -o-transition-delay:$delay;
  -ms-transition-delay:$delay;
  transition-delay:$delay;
}
@mixin scale($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}
/*------------------------------------*\
    Responsive
\*------------------------------------*/
@mixin mq-max-width($width) {
  @media only screen and (max-width:$width) {
    @content;
  }
}

@mixin mq($width) {
  @media only screen and (min-width:$width)  {
    @content;
  }
}
