.hero-slider {
  .hero-slide {
    height: 600px;
    width: 100%;
    position: relative;
    img,
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .hero-text-and-buttons-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      @include translate(-50%,-50%);
      @include mq(650px) {
        width: 80%;
      }
      @include mq(1000px) {
        text-align: center;
      }
      h1.title {}
      h2.subtitle {}
    }
    .buttons-module {
      display: block;
      width: unset;
      margin-top: 1.5em;
      text-align: unset;
      a {
        margin-right: .8em;
      }
    }
  }
}
