body {
  font-family: 'Poppins', sans-serif;
}
a:active, a:focus {
  outline:0;
}
a {
  text-decoration: none;
  @include transition(300ms);
  outline:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size:50px;
  font-weight: 900;
}
h2 {
  font-size:40px;
  font-weight: 700;
}
h3 {
  font-size:30px;
  font-weight: 500;
}
p {
  font-size:18px;
  line-height: 23px;
}
textarea, input {
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
}
