.admin-menu {
  position:fixed;
  z-index:9998;
  top:calc(100vh - 100px);
  right:30px;
  .help-menu {
    opacity:0;
    visibility: hidden;
    position: absolute;
    bottom:calc(100% + 15px);
    padding:0;
    background:#f6f6f6;
    width:500px;
    height:450px;
    overflow-y: scroll;
    right:0;
    border:1px solid #ccc;
    @include transition(300ms);
    box-shadow: 0, 0, 15px, 0, 0, 0, 0, 0.3;
    .help-menu-header {
      height:40px;
      background:#fff;
      border-bottom:1px solid #ccc;
      p {
        margin:0 0 0 15px;
        padding:0;
        line-height: 40px;
        float:left;
      }
      input {
        float:right;
        height: 28px;
        padding: 0 10px;
        line-height: 30px;
        margin: 5px 0 0 1px;
        font-size:14px;
        width:225px;
      }
      a {
        float:right;
        width:30px;
        height:30px;
        padding:0;
        margin:5px 5px 0 5px;
      }
    }
    ul {
      padding:15px;
      margin:0 0 0 10px;
      li {
        font-size:16px;
        font-weight:600;
        margin-bottom:15px;
        ul {
          margin:5px 0 5px 15px;
          padding:0;
          list-style: disc;
          li {
            cursor: pointer;
            margin:0;
            padding:0;
            font-size:14px;
            font-weight: normal;
            margin-bottom:5px;
            &:hover {
              color:$primary;
            }
          }
        }
      }
    }
    &.active {
      opacity:1;
      visibility: visible;
    }
    #help-working-container {
      position: absolute;
      width: 65px;
      height: 65px;
      top:50%;
      left:50%;
      display: none;
      @include translate(-50%, -50%);
      #help-working {
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 8px solid rgba(0,0,0,.3);
        border-radius: 50%;
        border-top-color: $primary;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      }
      @keyframes spin {
        to { -webkit-transform: rotate(360deg); }
      }
      @-webkit-keyframes spin {
        to { -webkit-transform: rotate(360deg); }
      }
    }
  }
  a {
    float:left;
    position: relative;
    background:gray;
    border-radius: 20px;
    width:60px;
    padding:50px 0 10px 0;
    margin-left: 10px;
    text-align: center;
    color:$white;
    font-weight:100;
    font-size:12px;
    box-shadow: 0, 0, 20px, 0, 0, 0, 0, 0.3;
    &:hover {
      @include translate(0, -5px);
      color:$white;
    }
    img {
      position:absolute;
      top:7px;
      left:50%;
      @include translate(-50%, 0);
      max-width:40px;
    }
  }
  .page-edit-btn, .edit-btn {
    background:$primary;
  }
  .new-product, .new-news, .new-career {
    background:$primary;
  }
  .page-help-btn {
    background:#56af6d;
  }
}
